<!DOCTYPE html>
<meta charset="utf-8">
<title>Patrick's Test</title>
<style>

/* @import url(../static/css/style.css); */
 
#circle circle {
fill: none;
pointer-events: all;
}
 
.group path {
fill-opacity: .5;
}
 
path.chord {
stroke: #000;
stroke-width: .25px;
}
 
#circle:hover path.fade {
display: none;
}
 
</style>
 
<head>


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>new results</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../static/css/starter-template.css" rel="stylesheet">

</head>

    <body>
     <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">FoodGroupr</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
<div class="container">
<br><br>
    <div class="row row-centered">
 
    <h1>September 19th, 2014 - The Chinese restaurant paradox</h1>
    <br>
    <p> If you and your friend wanted dinner tonight but couldn't agree on what to eat
    what are your chances you could find a neighborhood to visit where you could find both
    a sushi restaurant and a fast-food restaurant?
    If you guessed this isn't easy, you'd have been right, but how can we verify this hunch?  
    Time for a bit of statistics with a bit of data-hacking.  
    
    Lets pull the restaurant data from foursquare using the city centers of the 294 most
    populous cities in the US, as our test bed.  That's NYC to College Station, Texas if
    you were wondering.
    
    We divide the restaurants found into the ten most common categories for restaurants 
    and illustrate the number of times we find restaurants of type X and Y together, what
    we call co-occurrence, and display the results as a chord diagram.</p>
    
    <div id="chart" class="center-block"></div>
    
    <p> We immediately see that American restaurants are often found near American 
    restaurants, the green path that starts and ends on the green side of the chord
    diagram.  But let's be quantitative, we need to ask if this is really significant. 
    There are a lot of American
    restaurants in the US (surprise!) so even if we randomly threw our restaurants into 
    groupings we'd expect to see a decent amount of co-occurrence.
    
    To test this we can use a permutation test, shuffling the labels on all of our restaurant
    data many times.  For each shuffle we then have a set of if humans built restaurants
    with no regard to the type of restaurants.  In this shuffle we're going to keep 
    everything else but the restaurant category constant, so a group of seven restaurants 
    is still a group of 
    seven restaurants in the same location but now instead of being say three American, two
    Mexican, a sushi joint, and a fast food place they might be labeled four American, two Chinese and 
    an Ethiopian restaurant.  Because we only shuffle the labels, not label randomly, 
    the total number of restaurants of a given category is constant, we don't get to destroy
    fast food places, no matter how much we might like to.
    
    Doing this shuffle 1000 times we can visualize the distribution we'd expect if restaurants
    were built with no regard to their restaurant categories.  Having done this we can characterize
    the distribution using its mean and standard-deviation, here we'll assume the underlying
    distributions are normal distributions (they're close).  We then characterize how far
    away from this distribution is the real-world data</p>
    
    <br><br>
    
    <img src="../static/images/Overlap_Significance.png" class="img-responsive center-block" style="width:400px;height:400px">
    
    <p> Turns out it's pretty far in a few cases, we immediately see that Chinese restaurants
    are much more frequently found together than we'd have expected from random placement, 
    9-standard deviations away, that's a lot!  Does this make sense?  Kind-of, after all the idea
    of "china-town" is relatively common in most major cities, and we biased ourselves by only
    pulling data from these metropolitan areas.  We'd expect that if we looked at more 
    rural areas this number would go down (I encourage you to try it!).
    
    We also see an answer to our original question, it turns out sushi places and fast-food
    restaurants are found together less often than we'd expect at random.  So I hope you and
    your friend can think of some new ideas.  If you're looking to get into the food business
    however, maybe there's a market for a fast-food sushi place, would be interesting to find
    out. 
    
    </div>

    
</div>

    <script src="http://d3js.org/d3.v2.min.js?2.8.1"></script>
    <script>
 
        var width = window.innerWidth - 50,
            height = window.innerHeight - 100,
            outerRadius = Math.min(width, height) / 2 - 10,
            innerRadius = outerRadius - 24;
     
        var formatPercent = d3.format(".1%");
 
        var arc = d3.svg.arc()
            .innerRadius(innerRadius)
            .outerRadius(outerRadius);
 
        var layout = d3.layout.chord()
            .padding(0.04)
            .sortSubgroups(d3.descending)
            .sortChords(d3.ascending);
 
        var path = d3.svg.chord()
            .radius(innerRadius);
 
        var svg = d3.select("#chart").append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g")
                .attr("id", "circle")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
     
        svg.append("circle")
            .attr("r", outerRadius);
 
        d3.csv("../static/data/teams.csv", function(cities) {
        d3.json("../static/data/matrix.json", function(matrix) {
 
        // Compute the chord layout.
        layout.matrix(matrix);
 
        // Add a group per neighborhood.
        var group = svg.selectAll(".group")
            .data(layout.groups)
            .enter().append("g")
            .attr("class", "group")
            .on("mouseover", mouseover);

     
        // Add a mouseover title.
        group.append("title").text(function(d, i) {
        return cities[i].name + ": " + d3.round(d.value) + " restaurants";
        });
 
        // Add the group arc.
        var groupPath = group.append("path")
        .attr("id", function(d, i) { return "group" + i; })
        .attr("d", arc)
        .style("fill", function(d, i) { return cities[i].color; });
 
        // Add a text label.
        var groupText = group.append("text")
        .attr("x", 6)
        .attr("dy", 15);
 
        groupText.append("textPath")
        .attr("xlink:href", function(d, i) { return "#group" + i; })
        .text(function(d, i) { return cities[i].name; });
 
        // Remove the labels that don't fit. :(
        groupText.filter(function(d, i) { return groupPath[0][i].getTotalLength() / 2 - 16 < this.getComputedTextLength(); })
        .remove();
 
        // Add the chords.
        var chord = svg.selectAll(".chord")
        .data(layout.chords)
        .enter().append("path")
        .attr("class", "chord")
        .style("fill", function(d) { return cities[d.source.index].color; })
        .attr("d", path);
 
        // Add an elaborate mouseover title for each chord.
         chord.append("title").text(function(d) {
         return cities[d.source.index].name
         + " with " + cities[d.target.index].name
         + ": " + d3.round(d.source.value)
         });
 
        function mouseover(d, i) {
            chord.classed("fade", function(p) {
                return p.source.index != i
                && p.target.index != i;
            });
            }
            });

        });


 
    </script>
 
</body>
 
<footer>
<p>Modified from Andrew RP's <a href="http://bl.ocks.org/AndrewRP/7468330">city visualization</a></p>
<p><p>Built with <a href="http://d3js.org/">d3.js</a>.</aside></p>
<p>Data from <a href="https://foursquare.com/">4square</a>.</p>
</footer>
