<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>new results</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    
    <style>
      #map-canvas { height: 400px }
    </style>
    
    </head>
    

    <body>
     <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">FoodGroupr</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    
    <!--the website -->
      <div class="container">
      <br><br>

      <div class="row row-centered">
        <form role="form" action="/foodgroups" onsubmit='show_loading()' method="GET">
        <div class="form-group col-sm-10">
          <input type="text" name="origin" class="form-control" id="originInput" value="{{ faddress }}">
        </div>
            <button type="submit" name="query" class="btn btn-large btn-success col-sm-2">Submit</button>
        </form>
      
      </div>
      
        <br>
      
        <div class="row row-centered">
          <div class="col-sm-6 bootcards-list" id="map-canvas">
            
            <div id="map-canvas" class="col-sm-6"></div>
        
          </div>
          
          <div class="col-sm-6">
            <div class="panel-group" id="accordion">
            
              <div class="panel panel-default">
                <div class="panel-heading clearfix">
                  <h3 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      Head towards {{ c_info[0]["name"] }} &raquo
                    </a>
                  </h3>
                  
                    <a class="btn btn-success pull-right" href="#">
                        <i class="fa fa-check"></i>
                        Get Directions
                    </a>
                  
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                   <p> {{ c_info[0]['Description'] }} </p>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class = row >
                    <div class = "col-sm-4">
                    <small> Restaurants: {{ c_info[0]['rest_num'] }} </small>
                    </div>
                    <div class = "col-sm-4">
                    <small>Rating: {{ c_info[0]['avgrating'] |round(1) }}</small>
                    </div>
                    <div class = "col-sm-4">
                    <small> Price: {{c_info[0]['price_string'] }} </small>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              
              
              <div class="panel panel-default" id="card2">
                <div class="panel-heading clearfix">
                  <h3 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Or {{ c_info[1]["name"] }} &raquo
                    </a>
                  </h3>
                    <a class="btn btn-success pull-right" href="#">
                        <i class="fa fa-check"></i>
                        Get Directions
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                   <p> {{ c_info[1]['Description'] }} </p>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class = row >
                    <div class = "col-sm-4">
                    <small> Restaurants: {{ c_info[1]['rest_num'] }} </small>
                    </div>
                    <div class = "col-sm-4">
                    <small>Rating: {{ c_info[1]['avgrating'] |round(1) }}</small>
                    </div>
                    <div class = "col-sm-4">
                    <small> Price: {{c_info[1]['price_string'] }} </small>
                    </div>
                  </div>
                </div>

              </div>
              
              <br>
              
              <div class="panel panel-default" id="card2">
                <div class="panel-heading clearfix">
                  <h3 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Or {{ c_info[2]["name"] }} &raquo
                    </a>
                  </h3>
                    <a class="btn btn-success pull-right" href="#">
                        <i class="fa fa-check"></i>
                        Get Directions
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                   <p> {{ c_info[2]['Description'] }} </p>
                  </div>
                </div>
                <div class="panel-footer">
                  <div class = row >
                    <div class = "col-sm-4">
                    <small> Restaurants: {{ c_info[2]['rest_num'] }} </small>
                    </div>
                    <div class = "col-sm-4">
                    <small>Rating: {{ c_info[2]['avgrating'] |round(1) }}</small>
                    </div>
                    <div class = "col-sm-4">
                    <small> Price: {{c_info[2]['price_string'] }} </small>
                    </div>
                  </div>
                </div>

              </div>

              
            </div>
          </div>
        </div>
      </div>
    </body>
    
    
    <!-- Google Maps plotting
    ==============================================================-->
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
    </script>
    
    <!-- Hiding and showing content    -->
    <script>
        function hide_cards() {
        
            if ({{ncluster}} < 2) {
                $("#card2").remove();
            }
            if ({{ncluster}} < 3) {
                $("#card3").remove();
            }
        }
        window.onload = hide_cards
    </script>
    
    <script>    
    function init_map() {
        
        var var_location = new google.maps.LatLng({{ user_lat }}, {{ user_long }});
        
        var var_ourmap = mapIt(var_location)
        
        //Build color icons for clusters         
        var iconArray = new Array();
        var iconColor = ["D1D1E0","FF9933","FFFF66","00CC00","0066FF","CC0099", "FF0000","00FFFF","66FF33", "FF3399"]
        // ["gray","orange","yellow","green","blue","purple"]
        for (i = 0; i < {{ncluster}}+1 ; i++) {
            iconArray[i] = { url: "http://www.googlemapsmarkers.com/v1/"+i+"/"+iconColor[i]+"/"}
        }
        
//             var heatMapData = []
        {% for result in results %}
            maprest(var_ourmap,{{ result['lat'] }}, {{ result['long'] }}, {{ result['clusterid'] }})
//                 heatMapData.push(
//                     {location: new google.maps.LatLng( {{ result['lat'] }}, {{ result['long'] }} ), weight: 1}
//                 )
        {% endfor %}
        
//             var pointArray = new google.maps.MVCArray(heatMapData)
//             
//             var heatmap = new google.maps.visualization.HeatmapLayer({
//                 data: pointArray
//             });
        
        heatmap.setMap(var_ourmap);
        
        
        function getMakerImage(ID) {
            return iconArray[ID]
        }
        
        function mapIt(v_lat) {
            var var_mapoptions = {
                center: v_lat,
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var var_map = new google.maps.Map(document.getElementById("map-canvas"),
                var_mapoptions);
                
            var var_marker = new google.maps.Marker({
                position: v_lat,
                map: var_map,
                title:"You"});

            var_marker.setMap(var_map);   
            
            return var_map
        }
        
        function maprest(this_map,thislat,thislong,thisID) {
            var latlong = new google.maps.LatLng(thislat,thislong)

            var this_marker = new google.maps.Marker({
                position: latlong,
                icon: getMakerImage(thisID+1)
                })

            this_marker.setMap(this_map);   
            
        }
        
                    
         
    }

google.maps.event.addDomListener(window, 'load', init_map);
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</html>