<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>new results</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
    
    
    </head>
    

    <body>
     <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">FoodGroupr</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    
    <!--the website -->
      <div class="container">
      <br><br>

      <div class="row row-centered">
        <form role="form" action="/foodgroups" onsubmit='show_loading()' method="GET">
        
        <div class="form-group col-centered col-sm-9">
          <input type="text" name="origin" class="form-control" id="originInput" value="{{ faddress }}">
        </div>
        <div class="col-sm-3">
          <button type="submit" name="keychain" value="0" class="btn btn-large btn-success col-centered col-sm-12">Submit</button>
        </div>
        
        <div class="btn-group col-sm-12">
            <button type="submit" name="keychain" value="3" class="btn btn-large btn-default col-centered col-sm-3">Rating</button>
            <button type="submit" name="keychain" value="1" class="btn btn-large btn-default col-centered col-sm-3">Distance</button>
            <button type="submit" name="keychain" value="2" class="btn btn-large btn-default col-centered col-sm-3">Price</button>
            <button type="submit" name="keychain" value="4" class="btn btn-large btn-default col-centered col-sm-3">Variety</button>
        </div>
        
        </form>
      
      </div>
      
        <br>
      
        <div class="col-sm-12">
          <div class="col-sm-6 bootcards-list" id="map-canvas">
            
            <div id="map-canvas" class="col-sm-6"></div>
        
          </div>
          
          
          <div class="col-sm-6">
            <div class="panel-group" id="accordion">
              {% for thiscard in c_info %}
              {% if loop.index < 4 %}
              <div class="panel panel-default">
                <div class="panel-heading clearfix">
                  <h5 class="panel-title pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                      Option {{ loop.index }}: <br> Head towards {{ thiscard["name"] }} &raquo
                    </a>
                  </h5>
                  
                    <form action="http://maps.google.com/maps" method="get" target="_blank">
                    <input type="hidden" name="saddr" value="{{user_lat,user_long}}"/>
                    <input type="hidden" name="daddr" value="{{thiscard['center'][0],thiscard['center'][1]}}"/>
                    <input type="submit" class="btn btn-success pull-right" value="Get directions" />
                    </form>
                  
                </div>
                {% if loop.index == 1 %}
                  <div id="collapse{{ loop.index }}" class="panel-collapse collapse in">
                {% else %}
                  <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                {% endif %}
                  <div class="panel-body">
                   <p> {{ thiscard['Description'] }} </p>
                   {% for photo in thiscard['photos'] %}
                   <div class="col-sm-3 col-centered">
                    <img src="{{ photo }}" alt="">
                    </div>
                   {% endfor %}

                   <div class="col-sm-12 col-centered">
                    <p> <br> Restaurants:  
                      {% for a in thiscard['rest_url'] %}
                      <a href="{{ thiscard['rest_url'][loop.index-1] }}">"{{ thiscard['rest_list'][loop.index-1] }}"</a> 
                      {% endfor %}
                    </p>
                  </div>

                  </div>
                </div>
                <div class="panel-footer">
                  <div class = "row" >
                    <div class = "col-sm-4">
                    <small> Restaurants: {{ thiscard['rest_num'] }} </small>
                    </div>
                    <div class = "col-sm-4">
                    <small>Rating: {{ thiscard['avgrating'] |round(1) }}</small>
                    </div>
                    <div class = "col-sm-4">
                    <small> Price: {{thiscard['price_string'] }} </small>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </body>
    
    
    <!-- Google Maps plotting
    ==============================================================-->
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?sensor=true">
    </script>

    
    <script>    
    function init_map() {
        
        var var_location = new google.maps.LatLng({{ user_lat }}, {{ user_long }});
        
        var bounds = new google.maps.LatLngBounds ();
        var var_ourmap = mapIt(var_location,bounds)
        
        //Build color icons for clusters         
        var iconArray = new Array();
        var iconColor = ["D1D1E0","00CC00","FFFF66","FF9933","0066FF","CC0099","FF0000","00FFFF","66FF33", "FF3399"]
        for (i = 0; i < {{ncluster}}+1 ; i++) {
            iconArray[i] = { url: "http://www.googlemapsmarkers.com/v1/"+i+"/"+iconColor[i]+"/"}
        }

        {% for result in results %}
            {% if result['clusterid'] < 4 %}
              maprest( var_ourmap,bounds,{{ result['lat'] }}, {{ result['long'] }}, {{ result['clusterid'] }}, "{{ result['url'] }}","{{ result['pic'] }}", "{{ result['name'] }}" )
            {% endif %}
        {% endfor %}
        
        var_ourmap.fitBounds (bounds);
        
        function getMakerImage(ID) {
            return iconArray[ID]
        }
        
        function mapIt(v_lat,bounds) {
            var var_mapoptions = {
                center: v_lat,
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            
            var var_map = new google.maps.Map(document.getElementById("map-canvas"),
                var_mapoptions);
                
            var var_marker = new google.maps.Marker({
                position: v_lat,
                map: var_map,
                title:"You"});

            var_marker.setMap(var_map);   
            bounds.extend(v_lat)
            return var_map
        }
        

        
        function maprest(this_map,bounds,thislat,thislong,thisID,thisUrl,thisPic, thisName) {
            var latlong = new google.maps.LatLng(thislat,thislong)

            bounds.extend(latlong);

            var this_marker = new google.maps.Marker({
              position: latlong,
              icon: getMakerImage(thisID),
              map:this_map
              })

            var chHtml ="<a href="+thisUrl
                        +" target='_blank'>"+thisName+"</a><div>"
                        +"<img src="+thisPic
                        +" width='100' hieght='100' />"
                        +"</div>";

            var chInfoWindow = new google.maps.InfoWindow({
              content: chHtml,
              maxWidth:250
              });

            google.maps.event.addListener(this_marker, 'click', function() {
              chInfoWindow.open(this_map, this_marker);
              });
        };
        
                    
         
    };

    google.maps.event.addDomListener(window, 'load', init_map);

</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

</html>